server:
  port: 80
  servlet:
    context-path: /api
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/json
    min-response-size: 1024

spring:
  mvc:
    async:
      request-timeout: 600000
  servlet:
    multipart:
      enabled: true
      max-file-size: 10240MB
      max-request-size: 10240MB
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak.host}/realms/${keycloak.realm}/protocol/openid-connect/certs
          issuer-uri: ${keycloak.host}/realms/${keycloak.realm}
  datasource:
    driver-class-name: org.postgresql.Driver
    username: ${postgres.username}
    password: ${postgres.password}
    url: jdbc:postgresql://${postgres.host}:${postgres.port}/${postgres.database}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true